/* Header Wrapper */
.twp-header_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--twp-header-text-color);
}

/* Logo */
.twp-shop_name{
    font-size: clamp(18px, 5vw, 32px);
}

.header__logo-link img {
    width: var(--twp-logo-width);
}
