*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Wrapper */
.twp-header_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.twp-shop_name{
    font-size: clamp(18px, 5vw, 32px);
}

.twp-header_logo-link{
    display: flex;
}

/* Main Menu */
.twp-main_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

